header {
  width: 100%;
  height: 120px;
  background-color: rgb(68, 82, 146);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow:rgb(36, 32, 32);
}
.containerDate{
  padding-left: 6em !important;
}
.containerLogo{
  padding-left: 5em !important;
}
@media only screen and (max-width:700px){
  header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media only screen and (max-width:700px){
  .containerLogo{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    padding-bottom: 10px;
  }
}
.logo:hover{
  cursor: pointer;
}
.logo{
  margin-left: 6em;
  height: 70px;
}
@media only screen and (max-width:400px){
  .logo{
      height: 60px;
  }
}
.btnSearch{
  height: 20px;
}
@media only screen and (max-width:700px){
  .btnSearch{
      height: 17px;
  }
}
@media only screen and (max-width:400px){
  .btnSearch{
      height: 15px;
  }
}
.form{
  flex-direction: row !important;
}

@media only screen and (max-width:700px){
  .containerForm{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
  }
}
.input{
  background-color: #fff !important;
}
@media only screen and (min-width:700px){
  .input{
    width: 300px !important;
      background-color: #fff !important;
  }
}
@media only screen and (min-width:900px){
  .input{
    width: 400px !important;
      background-color: #fff !important;
  }
}
.boton{
  background-color: #fff !important;
}
.containerAdd:hover{
  cursor: pointer;
}